 /* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Baloo Da 2", cursive;
}

html {
  font-size: 62.5%;
}

.logo {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 800;
  color: #003087;
  position: relative;
  cursor: pointer;
}

.p-1 {
  font-size: 4.5rem;
  margin-right: 1rem;
  position: relative;
  z-index: 10;
   color: #003087;

}

.p-2 {
  font-size: 4.5rem;
  color: #bbb;
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
  color: #009cde
}

.blue-btn {
  width: 35rem;
  height: 5rem;
  background-color: #036bb1;
  color: #fff;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
/* End of Common Styles */

/* Front Page */
.front-page {
  /* display: none; */
}

/* Section 1 */
.section-1 {
  width: 100%;
  height: 65vh;
  background: linear-gradient(
      to top,
      rgba(38, 38, 38, 0.7),
      rgba(38, 38, 38, 0.6)
    ),
    url(images/bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.navbar-wrapper {
  width: 100%;
  height: 8rem;
  background-color: #fff;
  border-bottom: 0.1rem solid #aaa;
  display: flex;
  justify-content: center;
}
.navbar {
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  height: 8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  transition: border-bottom 0.1s;
}

.nav-list-item:hover {
  border-bottom: 0.2rem solid #fff;
}

.nav-dropdown {
  width: 100%;
  height: 20rem;
  background: #003087;
  position: absolute;
  top: 8rem;
  left: 0;
  z-index: 100;
  padding: 0 30rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
  visibility: hidden;
}
.show-dropdown {
  color: #fff;
  font-size: 4rem;
}
.show-dropdown i {
  color: #fff;
}

.nav-dropdown-item {
  width: 25rem;
  margin: 2rem 10rem;
  display: flex;
  flex-direction: column;
}

.dropdown-heading {
  display: none;
}

.nav-dropdown-link-1 {
  font-size: 1.6rem;
  color: #fff;
}

.nav-dropdown-link-2 {
  font-size: 1.3rem;
  color: #fff;
}

.nav-dropdown-link-1:hover, .nav-dropdown-link-2:hover {
text-decoration: underline;
}

.nav-list-link {
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color:black;
  display: flex;
  align-items: center;
}

.nav-list-link i {
  font-size: 1.5rem;
  color:black;
  margin-left: 0.5rem;
  transition: transform 0.3s;
}

.navbar-btn {
  width: 8rem;
  padding: 0.7rem;
  margin: 0.3rem;
  border-radius: 3rem;
  border: 0.1rem solid #fff;
  font-size: 1.4rem;
  cursor: pointer;
}


.navbar-btn {
  padding: 0.7rem;
  width: 8rem;
  margin: 0.3rem;
  border-radius: 3rem;
  border: 0.1rem solid #0070ba;
}

.navbar-btn:hover {
  text-decoration: underline;
}

.loginbtn {
  background-color: transparent;
  color: #0070ba;
  font-size: 1.5rem;
}

.signupbtn {
  color: #fff;
  background-color: #0070ba;
  font-size: 1.5rem;
}


 
.banner {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}



.banner-heading {
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 3rem;
}

.banner-paragraph {
  font-size: 1.8rem;
  color: #fff;
  width: 50%;
  margin: 0 auto 4rem auto;
}
/* new code */


.banner {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
  line-height: 1.5;
  margin: auto;
}

.banner h1 {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 2;
  width: 60%;
  line-height: 1.5;
  text-align: center;
  /* letter-spacing: .3rem;
            margin: 1rem auto; */
}
.simpler {
  /* width: 80%; */
  margin: auto;
  text-align: left;
}
.banner-paragraph {
  color: #fff;
  font-size: 2.5rem;
}

.blue-btn {
  margin: 2rem auto;
  width: 30%;
  color: #fff;
  background-color: #0070ba;
  padding: 1rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  border-radius: 5rem;
  border: none;
}

.business-account {
  color: #fff;
  font-size: 1.7rem;
}

.business {
  font-weight: bold;
  color: #fff;
}

.business:hover {
  text-decoration: underline;
}

/* End of Section 1 */

/* section-2 start */

.section-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-div {
  margin: 6rem auto;
  text-align: center;
}

.everyone {
  font-weight: 100;
  font-size: 4.3rem;
  letter-spacing: 0.1rem;
  color: #2c2e2f;
  /* width: 100%; */
  margin: auto;
}

.individual-img {
  margin: 5rem auto auto 1rem;
}

.individual {
  font-weight: 100;
  font-size: 4rem;
  margin: rem auto;
  color: #2c2e2f;
}

.find {
  font-weight: 100;
  font-size: 2rem;
  margin: 1rem auto auto auto;
  color: #2c2e2f;
  /* width: 90%; */
}

.blue-btnn {
  margin: 3rem auto;
  width: 25rem;
  color: #0070ba;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 5rem;
  border: 1px solid #0070ba;
}

/* End of section two */



/* Section 2 */
 /* End of Section 2 */


 /* section-3 */

 .section-3 {
  background-color: #f7f9fa;
  color: #666;
  font-family: pp-sans-small-regular, Helvetica Neue, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.section-3 button {
  /* width: 50%; */
  /* margin: 3rem auto;
            margin-left: 20rem; */
  margin: 3rem auto 5rem auto;
  width: 50%;
  color: #0070ba;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 5rem;
  border: 1px solid #0070ba;
}

.section-3-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.try {
  text-align: center;
  width: 34rem;
}
.buyers {
  text-align: center;
  font-size: 1.5rem;
  color: grey;
  margin-top: 2rem;
}

.linee {
  width: 20%;
  margin: auto;
  color: black;
  margin: 1rem auto 4rem auto;
}

.section-3-wrapper hr {
  display: block;
  width: 100%;
  margin: auto;
  margin: 1rem auto 4rem auto;
}
/* .section-3-wrapper .blue-btn {
            margin:3rem auto;
            align-items: center;
            justify-content: center;
            width: 50%;
        
          } */

.imagediv {
  width: 50%;
  margin: 0 auto;
}
.section-3 h1 {
  padding: 4rem 1rem;
  text-align: center;
}

.descriptionpara {
  text-align: left;
  color: #262626;
  font-size: 1.5rem;
  /* width: 50%; */
  /* margin-left: 5rem; */
}

.link-signup {
  color: #0070ba;
  font-size: 1.5rem;
  font-weight: 600;
}

.link-signup:hover {
  text-decoration: underline;
}

.section-3-wrapper span {

  border: 1px solid silver;
  border-radius: 50%;
  float: left;
  font-weight: 700;
  flex-direction: row;
  justify-content: center;
  padding: 11px 18px;
  margin-left: -8rem;
  color: #666;
  background-color: transparent;

}

/* CSS for laptop view */
@media screen and (min-width: 768px) {
  .section-3-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .imagediv {
    width: 50%;
  }

  .section-3-wrapper .lines {
    display: none;
  }

  .descriptionpara {
    text-align: left;
    margin-top: 10px;
  }

  .section-3 button {
    width: 25rem;
  }
}


/* End of section-3 */
/* Section-4 */
.section-4 {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle farthest-side at center bottom,
    #009cde,
    #003087 0
  );

  background-color: #009cde;
}

.divine {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10rem;
}

.container > div {
  flex: 100%; /* Divs will occupy 100% width by default */
  /* padding: 10px; */
  box-sizing: border-box;
}

.safer {
  padding-left: 2rem;
}

.saferr {
  padding-left: 2rem;
}

/*Start of log in page */
.login-div {
  width: 100%;
  height: 60rem;
  position: relative;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 5rem;
  border: 0.1rem solid #cfcfcf;
  border-radius: 1rem;
  position: absolute;
  top: 15%;
  left: 50%;
  height: 60rem;
  width: 45rem;
  transform: translateX(-50%);
}

input[type="email"] {
  padding: 1.5rem;
  text-align: left;
  width: 100%;
  font-size: 2rem;
  color: #888;
  border: 0.1rem solid gray;
  font-family: pp-sans-big-regular, Helvetica Neue, Arial, sans-serif;
  border-radius: 0.5rem;
  font-weight: 400;
  margin: 1rem;
}

input[type="email"]:hover {
  border: 0.1rem solid #1154d1;
}

.login-paragraph {
  color: #1072eb;
  display: flex;
  font-weight: 600;
  font-size: 2rem;
  /* font-family: pp-sans-big-regular,Helvetica Neue,Arial,sans-serif; */
  margin: 3rem;
}

.login-paragraph:hover {
  text-decoration: underline;
}

.next-btn {
  background-color: #142c8e;
  color: #fff;
  border-radius: 6rem;
  font-size: 2rem;
  padding: 0.7rem;
  width: 100%;
  border: 0.5rem solid rgb(211, 233, 236);
}

.next-btn:hover {
  /* background-color: #1f407e; */
}
.or {
  font-size: 2rem;
  margin: 2rem;
  color: #888;
  position: relative;
}

.or::before {
  content: " ";
  width: 14rem;
  height: 0.1rem;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  background-color: #888;
  transform: translateY(-50%);
}

.or::after {
  content: " ";
  width: 14rem;
  height: 0.1rem;
  position: absolute;
  top: 50%;
  right: 3.5rem;
  background-color: #888;
  transform: translateY(-50%);
}
.next-btn {
  background-color: #142c8e;
  color: #fff;
  border-radius: 6rem;
  font-size: 2rem;
  padding: 0.7rem;
  width: 100%;
  border: 0.5rem solid rgb(211, 233, 236);
}
.next-btn:hover {
  background-color: #1f407e;
}
 

.theline {
  display: inline;
  width: 50%;
  margin-left: 3rem;
}

.footer-wrapper-login {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f7f9fa;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
}

.links {
  margin: 0.4rem;
  color: #666;
  font-weight: 700;
}

.links:hover {
  text-decoration: underline;
}
.signin:hover {
  background-color: transparent;
  border: .1rem solid #003087;
}
/* End of log in page */

/* Start of signup page  */

.signup-wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.signupheading {
  font-size: 3rem;
  color: #001435;
  font-family: PayPalOpen-Regular, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font: bolder;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 1rem auto 2rem auto;
}

.signup-para {
  font-size: 2rem;
  font-family: PayPalOpen-Regular, "Helvetica Neue", Arial, sans-serif;
  color: #001435;
  margin-bottom: 5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 1.3;
}
 

 


input[type="number"] {
  width: 55rem;
  padding: 2rem 2rem;
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
  /* padding: .7rem; */
  font-size: 2rem;
  color: #888;
  box-shadow: 0 0 6pt 2pt #a3d2e6;
  border: 3px solid #0b78a7;

  font-family: PayPalOpen-Regular, "Helvetica Neue", Arial, sans-serif;
}

input[type="number"]:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}
input[type="number"]:focus {
  box-shadow: 0 0 5pt 2pt #ff0000;
  outline-width: 0px;
  border: 1px solid #ff0000;
}

.signup-paragraph {
  width: 55rem;
  text-align: left;
  line-height: 1.27;
  color: #545d68;
  font-size: 1.3rem;
  margin: 1.5rem auto 3rem auto;
  font-family: PayPalOpen-Regular, "Helvetica Neue", Arial, sans-serif;
}

.next-btnn {
  background-color: #003087;
  color: #fff;
  border-radius: 6rem;
  font: bold;
  font-size: 2rem;
  padding: 0.7rem;
  width: 25rem;
  border: 0.1rem solid #142c8e;
}

.signin-btn {

    background-color: transparent;
    color: #142c8e;
    border-radius: 6rem;
    font: bold;
    font-size: 2rem;
    padding: 0.7rem;
    width: 100%;
    border: 0.1rem solid #142c8e;

}


.signin-btn:hover {
  border: .2rem solid #142c8e;
}
 
.footer-wrapperr-login {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color:#F7F9FA ; */
  padding: 0.8rem;
  display: flex;
  justify-content: center;
}

.linkss {
  margin: 0.4rem;
  color: #001435;
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: underline;
}

.linkss:hover {
  text-decoration: underline;
}
/* End of signup page */

/* Media queries for responsive behavior */
@media (min-width: 768px) {
  .container > div {
    flex-basis: 50%;
    /* Divs will occupy 50% width on tablet and laptop screens */
  }

  .safer {
    padding-left: 10rem;
  }

  .saferr {
    padding-right: 10rem;
  }

  /* .section-1 {
              height: 50rem;
            
            } */

  .section-1 .banner {
    position: absolute;
    top: 30%;
  }
}

@media (min-width: 601px) {
}

@media (max-width: 766px) {
  .login-wrapper {
    width: 100%;
    top: 0;
    box-shadow: none;
    border: none;
  }

  input[type="number"] {
    width: 95%;
  }

  .signup-paragraph {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .banner h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .everyone {
    font-size: 3rem;
    text-align: center;
    /* width: 95%; */
    margin: auto;
    /* width: 90%; */
  }
  .banner .blue-btn {
    width: 80%;
    /* margin: auto; */
  }

  .banner p {
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
  }

  .section-2 .find {
    font-size: 1.5rem;
  }

  .blue-btnn {
    width: 50%;
    margin: auto;
    /* background-color: red ; */
  }

  .individual {
    font-size: 3rem;
    text-align: center;
    /* font-weight: bold; */
  }

  .section-4 h1 {
    font-size: 3rem;
    text-align: center;
  }

  .safer h2,
  .saferr h2 {
    font-size: 2rem;
    font-weight: 100;
  }

  .saferr h4,
  .safer h4 {
    font-size: 1.3rem;
  }

  .safer p,
  .saferr p {
    font-size: 1.2rem;
  }
  .started {
    font-size: 2.4rem;
  }
  .section-2 .blue-btnn {
    width: 50%;
    margin: 2rem auto;
  }

  .section-3 .blue-btnn {
    width: 50%;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section-5-wrapper .but {
    width: 90%;
  }
}

/* @media (min-width: 768px) {
            .safer {
              flex-basis: 50%; /* Divs will occupy 50% width on tablet and laptop screens */
*/ .safer {
  flex: 1 0 100%; /* Divs will occupy 100% width by default */
  padding: 10px;
  box-sizing: border-box;
}

.join {
  font-size: 4rem;
  font-weight: 100;
  /* width: 95%; */
  text-align: center;
  margin: 3rem auto;
}
.section-4-wrapper {
  margin: 1rem auto;
}

.shop {
  font-size: 1.4rem;
  width: 80%;
  margin: auto;
  letter-spacing: 0.2rem;
  font-weight: 400;
  text-align: left;
  justify-content: left;
  width: 90%;
  margin: 1rem 0.1rem;
  padding-bottom: 2rem;
  font-family: pp-sans-big-light, Helvetica Neue, Arial, sans-serif;
}
.protect {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0.3rem 0.1rem;
  font-family: pp-sans-big-light, Helvetica Neue, Arial, sans-serif;
  font-weight: bold;
}
.more {
  font-size: 1.5rem;
  font-family: pp-sans-big-light, Helvetica Neue, Arial, sans-serif;
  /* padding-bottom: 3rem; */
}

/* End of Section-4 */


 /* End of new code */

 

/* Section 4 */
.section-4 {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4-heading {
  font-size: 5rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 5rem;
}

.section-4-content {
  display: flex;
}

.section-4-img-wrapper {
  width: 50rem;
}

.section-4-img-wrapper img {
  width: 100%;
  opacity: 0.8;
}

.section-4-list {
  width: 55%;
  margin-top: 2rem;
}

.section-4-list-item {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.number {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid #555;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4-list-item a {
  color: #036bb1;
  font-weight: bold;
}
/* End of Section 4 */

/* Section 5 */
.section-5 {
  width: 100%;
}

.section-5-top {
  width: 100%;
  background-color: #f3f7fa;
  text-align: center;
  padding: 7rem 0;
}

.section-5-top-heading {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.footer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 3rem 0;
}

.footer-top {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem dotted #262626;
  padding-bottom: 1rem;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-list li {
  margin-right: 2.5rem;
}

.footer-list a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #262626;
}

.footer-list img {
  width: 3.8rem;
  opacity: 0.6;
}

.copyright {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
/* End of Section 5 */
 
 
/* Responsive */
@media (max-width: 1500px) {

  .nav-dropdown {
    padding: 0 25rem;
  }

  .nav-dropdown-item {
    margin: 2rem 6rem;
  }

  }

@media (max-width: 1400px) {
  html {
    font-size: 62%;
  }

  .navbar {
    width: 100rem;
  }

  .section-1 {
    height: 70vh;
  }

  .banner-paragraph {
    width: 70%;
  }

   .section-4-content {
    width: 80%;
  }

  .section-4-img-wrapper {
    width: 40%;
    margin-right: 6rem;
  }

  
}



@media (max-width: 1100px) {
  .nav-dropdown-item {
    margin: 2rem 3.4rem;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 62%;
  }

  .navbar {
    width: 100%;
    padding: 0 5rem;
  }

  .navbar-logo {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu {
    width: 11rem;
    height: 4rem;
    border-radius: 3rem;
    border: 0.2rem solid #0070ba;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
  }

  .change .menu {
    transform: translateX(16rem);
    position: fixed;
    top: 2rem;
    left: 6rem;
    background-color: #eee;
  }

  .menu-icon {
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .line {
    width: 2rem;
    height: 0.1rem;
    background-color:  #0070ba;
    transform-origin: left;
  }

  .change .line-1 {
    transform: rotate(45deg);
    background-color:  #0070ba;
  }

  .change .line-2 {
    opacity: 0;
    visibility: hidden;
  }

  .change .line-3 {
    transform: rotate(-45deg);
    background-color: #0070ba;
  }

  .menu span {
    font-size: 1.8rem;
    color:  #0070ba;
  }

  .change .menu span {
    color: #0070ba;
  }

  .nav-list,
  .nav-dropdown-personal,
  .nav-dropdown-business {
    /* display: none; */
    position: fixed;
    top: 0;
    left: -20rem;
    width: 20rem;
    height: 100vh;
    background: linear-gradient(to bottom, #032181, #094399, #04207c);
    flex-direction: column;
    padding-top: 2rem;
    z-index: 200;
    transition: left 0.6s cubic-bezier(1, 0, 0, 1);
  }

  .change .nav-list {
    left: 0;
  }

  .nav-dropdown-personal,
  .nav-dropdown-business {
    opacity: 1;
    visibility: visible;
    padding: 1rem;
    justify-content: flex-start;
    color: #fff;
    font-size: 3rem;
  }

  .nav-dropdown-item {
    width: 100%;
    margin: 1rem 1rem 0 1rem;
  }

  .dropdown-heading {
    display: block;
  }

  

  .dropdown-heading a {

    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;

  }

  .dropdown-heading a i {
    font-size: 1.5rem;
    transform: rotate(90deg);
    margin-right: 1rem;
  }

  .nav-dropdown-link-1 {
    font-size: 1.4rem;
  }

  .nav-dropdown-link-2 {
    display: none;
  }

  .nav-list-item {
    width: 100%;
    height: auto;
    padding: 0 1rem;
    margin: 0.4rem 0;
  }

  .nav-list-item:hover {
    border-bottom: none;
  }

  .nav-list-link {
    font-size: 1.4rem;
    color: #fff;
    
  }

  .nav-list-item i {
    font-size: 1.2rem;
    transform: rotate(-90deg);
    color: #fff;
  }

  .navbar-buttons {
    margin-left: auto;
  }

  .section-2-heading {
    font-size: 4rem;
  }

   
  .section-4-content {
    flex-direction: column;
    align-items: center;
  }

  .section-4-img-wrapper {
    margin: auto;
  }

  .section-4-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-list {
    margin-bottom: 1rem;
  }

  .copyright {
    margin: 1.5rem 0;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 62%;
  }

  .section-2 {
    padding: 10rem 0;
  }

  .section-2-heading {
    width: 80%;
    text-align: center;
    line-height: 1.2;
  }

   
}

@media (max-width: 550px) {

   html {
    font-size: 62%;
  }
  .navbar-logo {
    display: none;
  }

  .banner-heading {
    font-size: 4.5rem;
  }

  .banner-paragraph {
    line-height: 1.2;
  }

   
  .section-4-heading {
    font-size: 4rem;
  }

  .section-4-content {
    width: 100%;
    padding: 0 3rem;
  }

  .section-4-img-wrapper {
    display: none;
  }

  .section-4-list {
    align-items: flex-start;
  }

  .footer-top {
    width: 90%;
  }

 
}

@media (max-width: 400px) {
  html {
    font-size: 62%;
  }

  .menu {
    width: 5rem;
  }

  .menu span {
    display: none;
  }

  .number {
    min-width: 3.5rem;
  }
}
/* End of Responsive */
